@{
    var db = Database.Open("Sym_db");
    var id=Request["id_pass"];
    string new_pass=Request["new_pass"];
    string password_h = Crypto.Hash(new_pass);
    password_h = password_h.Trim();
    //change password
    var change_password = db.Execute("UPDATE login_auth SET password=@0 WHERE uid=@1",password_h,id);
    if(change_password!=null)
    {
        <p style="color:grey">Password changed Successfully</p>
    }
    
}

