@{
     var uid=Session["uid"];
  var db=Database.Open("Sym_db");  

  
       <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
       <ul class="nav nav-sidebar">
              @if(Convert.ToInt32(uid)!=1)
              {

            <li class="active"><a href="#">Instructions <span class="sr-only">(current)</span></a></li>
            
          
      
            <li><a href="~/Application/u_page_1">Page-1(Application)</a></li>
            <li><a href="~/u_page_2">Page-2(Application)</a></li>
            <li><a href="~/u_page_3">Page-3(Application)</a></li>
            <li><a href="~/u_page_4">Page-4(Application)</a></li>
           
          

  



 }
          else
          {
               
              <li class="active"><a href="#">Edit Instructions <span class="sr-only">(current)</span></a></li>
            
       
        
            <li><a href="~/ad_page_1">Page-1(Application)</a></li>
            <li><a href="~/ad_page_2">Page-2(Application)</a></li>
            <li><a href="~/ad_page_3">Page-3(Application)</a></li>
            <li><a href="~/ad_page_4">Page-4(Application)</a></li>
           
           
          }
</ul>
            </div>
         
 <form>
 <label>Email</label>
 <input type="text">
 </form>
             
        
                      
      </div>

 
           
          
         
   
        
     



      </div>

}

