         
<div class="container" style="background-color: #436a90">
    
      <div class="page-header">
          
      <img src="~/images/csir-logo-4.jpg" alt="csir-logo" />
         <marquee><b style="color:whitesmoke;font-family:cursive">WELCOME TO CSIR HRDG SYMPOSIUM GRANT ONLINE APPLICATION PORTAL</b></marquee> 
      </div>

        @if(Request["st"]=="done")
{
/*  Int32  i=0;
    Session["val_reload"]=++i;
    var count= Session["val_reload"];
   if(Convert.ToInt32(count) >= 1)
   {
       
Response.Redirect("~/Page?v="+count);
   }
   else
   {
    */

    <script>alert("Registration succesfull! Check Email for further processes");</script>


  

}
   
      
   <div style="text-align: center;"><h4 style="color:white;text-shadow: 2px 2px #1c5b69;font-family:'-webkit-pictograph'"><b>Instructions for filling online Application form<br>For<br>CSIR Support to<br>Symposium Grant/Seminar/Conference/Workshop etc.</b></h4></div>

<div style="color: #0f626a;background-color: #c9c9c3;border: solid;border-radius:18px;padding: 20px;font-family:monospace ">CSIR provides grant for the organization of Symposium / Seminar / Conference / Workshop etc of National character.
Bonafide all india societies / associations of scientists and engineers and academic institutions are eligible to apply for
the Grant. The applications must be received at least two months before the event. The application is to be filled in by
the Executive Athority of the parent Organization and countersigned by the local organizing Committee and the Head of the Institution where the Symposium/Seminar is to be held. Incomplete applications in any respect and those not received two months prior to the event will not be considered.</div>
<hr>
<div style="text-align: center;color:white;font-family:'-webkit-pictograph'"><h3>SYMPOSIUM GRANT APPLICATION PROCESS</h3></div>
<hr>
<div style="border: solid;background-color: #c9c9c3;color: #0f626a;border-radius: 18px;padding: 12px;font-family:monospace">Given below are the Instructions that would help you in filling up the online application form quickly and successfully. Kindly read these Instructions carefully before starting the filling of Online Application Form.</div>
<hr>
<div style="background-color: #869ca9;">

<div style="text-align: center;cursor: pointer" onclick="slide_box(1);"><b>What you Need?</b><img id="panel_1_img" src="~/images/down_arrow_1.png" height="40" width="20"></div>
    <div id="panel_1" style="padding: 50px;display: none;background-color: #ebe278">
<ol>


<li>Details of Organizing Agency</li>
<li>Details of period and Venue of Event</li>
<li>Financial details of Proposed Publication of Proceedings</li>
<li>Details of expected numbers of delegates</li>
<li>Details of the Person/Authority who would be responsible for submitting the Utilisation Certificate</li>
<li>Details of the Single Contact Person with whom all the future correspondence will take place </li>
<li>Details of Collaborators other than CSIR Labs, who are participating in organising this Event</li>
<li>Details of Sponsorers who are sponsoring this Event </li>
<li>Details of Executive Authority who is organising the Event</li>
<li>Details of Technical Sessions in proposed Event</li>
<li>Details of various Eminent Speakers and their Technical Sessions</li>
<li>Details of CSIR Laboratory for co-sponsorship or participation</li>
<li>Details of various Scientists from CSIR Labs who are attending the Event</li>
<li>Details of Financial Assistance taken from CSIR earlier</li>

</ol>
    </div>
    <hr>
<div onclick="slide_box(2);" style="cursor: pointer;text-align: center"><b>How to proceed for filling up the online application form</b><img id="panel_2_img" src="~/images/down_arrow_1.png" height="40" width="20"></div>
    <div id="panel_2" style="padding: 50px;display: none;background-color: #ebe278">
    <ol>
    <li><b>Please Register with HRDG , providing your Email Address to proceed with the formalities required for applying for Symposium / Conf. / Seminar Grant from HRDG , CSIR.</b></li>
    <li><b>Once you are registered a Link to Symposium Grant Form will be sent to Email address provided by you here.</b></li>
    <li><b>Click the Link sent to your email inbox to Start filling the Online-Application Form.</b></li>
    <li>READ the Important Notes also before starting the filling of Online-Applicaton Form. </li>
    <li>The Email Address Provided during the Registration, should preferably be same as you will fill up in Contact Person Details on Page 2 of the Online Form, Since all the future correspondence from CSIR will be on the Email address of the Contact Person, provided on Page 2 of the Applicaton Form. </li>
    <li>There are six pages of the Application Form to be filled up in all. Each Page would receive certain limited information.</li>
    <li>Certain Fields marked with "*" on each pages are compulsory to fill up. Without filling up the compulsory fields, you can't proceed further. Neither the current page is saved nor the next page can be presented. </li>
    <li>Your Application is stored in the system in Draft Mode Initially. Till the time you are in DRAFT mode, you can make changes and save those changes in your application. </li>
    <li>When you have completely filled up any page, you press the NEXT button at the bottom of that page. </li>
    <li>Pressing of the NEXT Button, will save the filled up information on the current page and then next page is ready for entering the information, provided you have filled up the compulsory fields marked by "*". </li>
    <li>You can navigate between the pages from 1 to 6, by using the next and previous button available at the bottom of each page. </li>
    <li>If you want to save only partially filled page 1, you need to fill up the compulsory fields marked by "*", then press the NEXT button on page 1. The Information filled up till the presseing of the Next button is saved in the database. You can come back to the page 1, by pressing the PREVIOUS button on page 2</li>
    <li>After Submitting the last page (Page 6), the total information submitted by you is presented to you in a single HTML page in a printable format. </li>
    <li>If you feel certain information has been wrongly fed, to a particular field, first identify the Application page which contains this field, you may still go back to the concerned page by using previous buttons on various pages.</li>
    <li>Reaching the desired page, make correction you want to make, press Next Button to save the corrections. Come back to the printable format page by using the Next buttons on various pages involved inbetween.</li>
    <li>Once you are satisfied that all the information filled by you is correct, then you may press PRINT Button on the last page. Once you Press the PRINT Button on Page 7, the Application is Finally Submitted to the Server and then you can't make changes any more. </li> 
<li> After Final Submission, you can only access the printed format only. </li>
        <li>In case you have some urgent work and want to leave the process inbetween, kindly follow Instruction I-07 and exit. To come back to the same page, just go to your email which was sent to you after registration, and click on the email link, you would reach the same page, where you had left earlier. </li>
    </ol>
        </div>
    <hr>
<div onclick="slide_box(3);" style="cursor: pointer;text-align: center"><b>Important notes</b><img id="panel_3_img" src="~/images/down_arrow_1.png" height="40" width="20"></div>
     <div id="panel_3" style="padding: 50px;display: none;background-color: #ebe278">
         <ol>
             <li>Do not delete email containing the link to your application form.</li>
             <li>Access to your Application is through your email link only.</li>
             <li>If by mistake, you have deleted the email containing the link to your application, you can request the link again by<span onclick="show_pop_up()" style="cursor: pointer;background-color: #ff6a00">Clicking Here.</span></li>
             <li>Result will be available on CSIR HRDG website www.csirhrdg.res.in after decision is taken by the committee/ experts and only recommended applicants will be informed by Post also.</li>
             <li>One copy of abstract (preferably soft copy), and one set of invitation for the meeting should accompany the bill for release of sanctioned grant. One copy of Proceedings (soft copy) and audited Utilization Certificate (Hard Copy only) must be sent as soon as ready and before the date mentioned in grant letter if grant is sanctioned. Applications for grants will be considered only if above requirements have been met for the grants previously received by the applicant.</li>
             <li> No application should be entertained unless all the authorized signatories has signed in the place provided in the application proforma.</li>
             <li> <b>INCOMPLETE APPLICATION IN ANY RESPECT WILL NOT BE CONSIDERED</b></li>
         </ol>
         </div>
    <hr>
<div onclick="slide_box(4);" style="cursor: pointer;text-align: center"><b>Check List of documents to be submitted with printed Application form</b><img id="panel_4_img" src="~/images/down_arrow_1.png" height="40" width="20"></div>
    <div id="panel_4" style="padding: 50px;display: none;background-color: #ebe278">
    <ol>
    <li>Duly Self Attested Copy of Willingness letter from the Head of Institute where the Symposium is being held</li>
        <li>Duly Self Attested Copies of Utilisation Certificate for each of the Financial Grant taken from CSIR earlier. </li>
        <li> Duly Self Attested copy of the Registration Certificate, if the Event is being Organized by a Society. </li>
    </ol>
    </div>
    <hr>
<div onclick="slide_box(5);" style="cursor: pointer;text-align: center"><b>FAQ's</b><img id="panel_5_img" src="~/images/down_arrow_1.png" height="40" width="20"></div>
     <div id="panel_5" style="padding: 50px;display: none;background-color: #ebe278">
    <ol>
    <li><b>Ques</b><i style="color: #ff6a00">-Can I fill up the online Application Form for Symposium Grant without Registration?</i><br><b>Ans</b>-No,Registration is must.</li>
        <li><b>Ques</b><i style="color: #ff6a00">-I do not see any link on the HRDG website for gaining access to my partially filled application, which I had left inbetween?</i><br>
        <b>Ans</b>- Just go to your email, which was sent to you after your registration and click on the link provided in that email. You would reach your partially filled up application form. </li>
        <li><b>Ques</b><i style="color: #ff6a00">-Is it necessary to fill up the complete form in one sitting?</i>
        <br><b>Ans</b>- </li>
    <li><b>Ques</b><i style="color: #ff6a00">-When I press the Next Button, System does not go to the next page?</i>
    <br><b>Ans</b>-Probably, there is a compulsory field marked by "*" on the present form page, which you have not filled up.</li>
    <li><b>Ques</b><i style="color: #ff6a00">-I have accidentally deleted the registration email containing the link to my application form. How to access my application form? </i>
    <br><b>Ans</b>-Follow Note N-03 on this page.</li>
        <li><b>Ques</b><i style="color: #ff6a00">-Can I make changes to my Application Form which I have Filled earlier? </i>
        <br><b>Ans</b>- Till your Application is in DRAFT mode, you can make changes. By default all applications are in DRAFT mode untill you have executed the Instruction I-13. </li>
        <li><b>Ques</b><i style="color: #ff6a00"> I have forgotten the password provided to you while filling up the Registration Form. What should I do now? </i>
        <br><b>Ans</b>-07</li>
        
    </ol>
    </div>
    
    <hr>
    
  
</div>
<br>




    </div>

