 <footer class="footer" style="background-color:#1f74b4">
      <div class="container">
        <p class="text-muted" style="color: #f4f7cc">&copy2015 CSIR HRDG
       
	<span style="margin-left: 25%">Designed &amp; Developed by CSIR HRDG
        </span>
				    </p>          
      </div>
    </footer>